.rocket-1 {
  position: absolute;
  width: 14vw;
  height: 128vh;
  left: 0px;
  top: 331vh;
}

.rocket-2 {
  position: absolute;
  width: 186px;
  height: 508px;
  left: 81vw;
  top: 3718px;
}

.container-4  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 80px;
  color: #3F3E40;
  width: 55vw;
  margin-left: 26vw;
}

h5 span {
  color: #E6202D;
}

.container-4-box  {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 21vw;
  margin-top: -68px;
}

.rocket_3 {
  position: absolute;
  left: 58vh;
  top: 461vh;
}

.container-5  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -185px;
}

h6  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #3F3E40;
  margin-top: 0px;
}

.text-cont-5-1  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3F3E40;
  margin-top: -113px;
}

.container-5-1  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-cont-5-2  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #3F3E40;
  margin-left: 6px;
}

.text-cont-5-3  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #3F3E40;
  margin-top: -34px;
}

.text-cont-5-4  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #3F3E40;
  margin-top: 41px;
}

.container-5 form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.container-5-2  {
  margin-right: 309px;
  margin-top: 451px;
}

.container-5 input  {
  width: 609px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 0px;
  border: 0;
}

#message {
  height: 123px;
}

input[class="mensagem"]::placeholder {
  position: absolute;
}

input::placeholder  {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3F3E40;
}

.container-5 button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #E6202D;
  border: 0;
  padding: 16px 32px;
  border-radius: 4px;
}
