<div class="container-banner">
  <img class="banner-sobre" src="../../assets/img/banner_sobre.png" alt="">
  <img class="balao-sobre" src="../../assets/img/balao-sobre.png" alt="">
  <div class="container-banner-text">
    <h1>sobre nós</h1>
    <p class="banner-text-1">Prazer, somos a 1ª agência de publicidade com foco em</p>
    <p class="banner-text-2">marketing digital</p>
    <p class="banner-text-3">humanizado.</p>
  </div>
</div>

<div class="container-1">
  <h2>Passando por grandes empresas e agências de publicidade do mercado, a <span>M3 Social</span><strong> nasceu com a missão de ser diferente.</strong></h2>
  <p>Diferente em todos os sentidos, desde o atendimento até a produção e entrega de seus serviços. Nada de usar somente imagens retiradas da internet,
     textos que você está cansado de ler por aí ou excessivas montagens nas redes sociais.</p>
</div>

<div class="container-2">
  <img class="balao-container-2" src="../../assets/img/balao-container-2.png" alt="">
  <img class="container-2-img-1" src="../../assets/img/img_container_2_1.png" alt="">
  <img class="container-2-img-2" src="../../assets/img/img_container_2_3.png" alt="">
  <div class="container-2-1">
    <h3>Nossa especialidade é produzir <span>conteúdo de </span><span>verdade.</span></h3>
    <p>E combinando isso com outros formatos de publicidade, realizamos nosso propósito de conectar
      potenciais clientes com a essência e verdade por trás de cada marca que atendemos.</p>
  </div>
</div>

<div class="container-3">
  <div class="container-3-img">
    <img src="../../assets/img/img1-cont-3.png" alt="">
    <img src="../../assets/img/img2-cont-3.png" alt="">
    <img src="../../assets/img/img3-cont-3.png" alt="">
  </div>
  <h4>Conheça tudo que podemos fazer pelo seu negócio prosperar.</h4>
  <button>Confira</button>
</div>

<img class="rocket-1" src="../../assets/img/rocket_normal_1.png" alt="">
<img class="rocket-2" src="../../assets/img/rocket_blur_2.png" alt="">

<div  class="container-4">
  <h5>O que você também <span> precisa saber</span> sobre nós</h5>
  <div class="container-4-box">
    <img src="../../assets/img/cont-4-1.png" alt="">
    <img src="../../assets/img/cont-4-3.png" alt="">
  </div>
  <div class="container-4-box">
    <img src="../../assets/img/cont-4-2.png" alt="">
    <img src="../../assets/img/cont-4-4.png" alt="">
  </div>
</div>
<img class="rocket_3" src="../../assets/img/rocket_blur_1.png" alt="">
