<div class="container_banner">
  <h1>Branding & <span>Design</span></h1>
  <p>Gestão de Campanhas com Influenciadores, Análise de Perfil e Engajamento, <br>Gestão de Cronograma, Análise de Resultados</p>
  <div class="container_banner_1">
    <img src="../../assets/img/portfolio-brand-manai.png" alt="">
    <img src="../../assets/img/portfolio-brand-vautier.png" alt="">
  </div>
  <img src="../../assets/img/portfolio-brand-logos.png" alt="">
</div>

<div>
  <img src="../../assets/img/port_cont.png" alt="">
  <div>
    <img src="../../assets/img/joia.png" alt="">
    <h2>Social Media</h2>
    <p>Estratégia e Gestão Digital, Produção e <br>Planejamento de Conteúdo, Gestão de <br>Anúncios, SAC, Análise de Resultados</p>
  </div>
</div>

<div>
  <div>
    <img src="../../assets/img/click.png" alt="">
    <h3>ads</h3>
    <p>Gestão de Tráfego em Google, <br>Facebook, Instagram, TikTok, LinkedIn, <br>TripAdvisor, Waze</p>
  </div>
  <img src="../../assets/img/portfolio-ads.png" alt="">
</div>

<div>
  <img src="" alt="">
  <div>
    <img src="" alt="">
    
  </div>
</div>
