<div class="container-5" [ngStyle]="{'margin-top': marginTop}">
  <img src="../../assets/img/baloon.png" alt="">
  <div class="container-5-2">
    <img src="../../assets/img/img_form_5.png" alt="">
    <h6>contato</h6>
    <p class="text-cont-5-1">Seja nosso cliente ou faça parte do nosso time!</p>
    <div class="container-5-1">
      <img src="../../assets/img/whats_red.png" alt="">
      <p class="text-cont-5-2">11 99706.7923</p>
    </div>
    <p class="text-cont-5-3">contato@m3social.com.br</p>
    <form action="">
      <p class="text-cont-5-4">Se preferir, escreva pra gente:</p>
      <input type="text" name="name" id="name" placeholder="Nome">
      <input class="mensagem" type="text" name="message" id="message" placeholder="Mensagem">
      <input type="email" name="email" id="email" placeholder="E-mail">
      <input type="phone" name="phone" id="phone" placeholder="Telefone">
      <input type="text" name="assunto" id="assunto" placeholder="Assunto">
      <button>Enviar</button>
    </form>
  </div>
</div>
