<div class="container_banner">
  <img src="../../assets/img/banner_o-que-fazemos.jpg" alt="">
  <div class="container_banner_text">
    <h1><strong>o que fazemos<br></strong>Somos uma agência<br>de publicidade e<br><span>marketing digital<br></span><span>full service.</span></h1>
  </div>
</div>

<div class="container_1">
  <h2>Pronta para atender todas as <br><span>necessidades dos nossos clientes</span><br> quando se fala em comunicação.</h2>
  <div class="container_1_sub_1">
    <img src="../../assets/img/frame_fazer_1.png" alt="">
    <img src="../../assets/img/frame_fazer_2.png" alt="">
    <img src="../../assets/img/frame_fazer_3.png" alt="">
  </div>
  <div class="container_1_sub_2">
    <img src="../../assets/img/frame_fazer_4.png" alt="">
    <img src="../../assets/img/frame_fazer_5.png" alt="">
    <img src="../../assets/img/frame_fazer_6.png" alt="">
  </div>
  <div class="container_1_sub_3">
    <img src="../../assets/img/frame_fazer_7.png" alt="">
    <img src="../../assets/img/frame_fazer_8.png" alt="">
  </div>
  <img class="rocket_blur" src="../../assets/img/rocket_blur_1.png" alt="">
</div>
<b></b>
