<div class="back_span_container_one">
  <span></span>
</div>
<div class="support_text_banner">
  <div class="text_banner">
    <img class="img_text_banner" src="../../assets/img/logo_big.png" alt="">
    <p class="text_1">A 1ª agência com foco em marketing digital</p>
    <p class="text_2">humanizado</p>
    <button class="button_text_banner"><p>conheça a gente</p></button>
  </div>
</div>

<div class="back_home_vector">
  <img src="../../assets/img/vector_back_home.png" alt="">
</div>
<div class="videos_back">
  <video  loop [muted]="'muted'" autoplay>
    <source src="../../assets/videos/igas.mp4"/>
  </video>
  <video  loop [muted]="'muted'" autoplay>
    <source src="../../assets/videos/arabe.mp4"/>
  </video>
  <video  loop [muted]="'muted'" autoplay>
    <source src="../../assets/videos/poppins.mp4"/>
  </video>
  <video  loop [muted]="'muted'" autoplay>
    <source src="../../assets/videos/sopinha.mp4"/>
  </video>
</div>

<div class="container_2">
  <h1>O que fazemos</h1>
  <div class="container_2_main">
  <div class="texts">
    <p class="texts_1">Nossa especialidade é produzir<span> conteúdo de verdade.</span></p>
    <p class="texts_2">E vamos muito além disso!</p>
  </div>
  <img class="img_con_1" src="../../assets/img/img_container_2_1.png">
  <div class="container_2_pac">
    <img src="../../assets/img/img_container_2_2.png" >
    <img src="../../assets/img/img_container_2_3.png" >
  </div>
  </div>
</div>

<div class="container_3">
  <div>
    <h2>Clientes que confiam suas marcas na <span>M3 Social</span></h2>
  </div>
  <div class="container_3_1">
  </div>
</div>
<div class="container_4">
  <div class="container_4_sub_1">
    <img class="img_cont_4" src="../../assets/img/heart_grey.png" alt="">
    <img class="img_cont_4_2" src="../../assets/img/heart.png" alt="">
  </div>
  <h3>Depoimentos</h3>
  <div class="container_4_sub_2">
    <img src="../../assets/img/card_depoimento.png" alt="">
    <img src="../../assets/img/card_depoimento.png" alt="">
    <img src="../../assets/img/card_depoimento.png" alt="">
  </div>
  <div class="container_4_sub_3">
    <button>Confira outros depoimentos</button>
  </div>
</div>

<div class="background_container_5">
  <p class="container_5_text_1">Portfólio</p>
  <p class="container_5_text_2">Conectando o cliente com a sua marca</p>
  <h4>Influencer marketing</h4>
<div class="carousel-2">
  <!--Carousel
  <img src="../../assets/img/influencer-marketing.png" alt="">-->
</div>
<div class="container_5_button">
  <button>confira nossos trabalhos</button>
</div>
</div>

<div class="container_6">
  <h5>instagram</h5>
  <div class="container_6_photos">
    <img src="../../assets/img/photo1.png" alt="">
    <img src="../../assets/img/photo2.png" alt="">
    <img src="../../assets/img/photo3.png" alt="">
    <img src="../../assets/img/photo4.png" alt="">
  </div>
  <div class="container_6_photos">
    <img src="../../assets/img/photo5.png" alt="">
    <img src="../../assets/img/photo6.png" alt="">
    <img src="../../assets/img/photo7.png" alt="">
    <img src="../../assets/img/photo8.png" alt="">
  </div>
  <button>segue a gente lá!</button>
</div>


<div>

</div>
